{% extends  'layout.html.twig' %}
{% block content %}

    <div class="breadcrumb-style-7">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Event Details</h1>

        </div>
    </div>

    <div class="blog-single-content">
        <div class="container">
            <div class="row">
                <div class="blog-details-item">
                    <div class="thumb border-thumb">
                        <div class="post-thumbnail">
                            <img src="{{ asset('') }}{{ vich_uploader_asset(events, 'imageFile') }}" alt="thumb">
                        </div>
                    </div>
                    <div class="content margin-top-75">
                        <h5 class="margin-bottom-30">{{ events.theme.nom }}, {{ events.start|date }}</h5>
                        <span>{{ events.name }}</span>
                        <p class="margin-top-30"> {{ events.description }}</p>
                        <ul class="post-meta margin-top-50">
                            <li><a href="#"><i class="fa fa-comments"></i> </a></li>
                            <li><a href="#"><i class="fa fa-share-alt"></i> 120 Share</a></li>
                        </ul>

                        <!-- comment area start -->
                        <div class="comment-area">
                            <ul class="comment-list">
                                {% for comm in comm %}
                                <li class="parent">
                                    <div class="single-comment-wrap">
                                        <div class="thumb">
                                            <img alt="comment" src="{{ asset('') }}assets/img/blog/comment1.png">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">{{ comm.user }}</h4>
                                            <div class="comment-content">
                                                <p>{{ comm.content }}</p>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                                {% endfor %}
                            </ul>
            {% if app.user %}
                            <form method="post" id="formcomment" class="comment-form margin-top-50">
                                <div class="form-group">
                                    <input type="text" name="comment-content" class="form-control"
                                           placeholder="write comments.....">
                                </div>
                            </form>
                        {% endif %}
                        </div>
                        <!-- comment area end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}