{% extends  'layout.html.twig' %}
{% block content %}
    <div class="breadcrumb-style-2">
        <div class="breadcrumb-inner">
            <h1 class="page-title color-black">Formulaire  </h1>
        </div>
    </div>
    {{form_start(form)}}
    <div class="form-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 d-flex justify-content-center form-title">
                    <h3>Fill out data</h3>
                </div>
                <div class="col-lg-8 offset-lg-2 d-flex justify-content-center">
                    <div class="form-group">

                        <div class="form-field margin-top-30">
                            {{ form_widget(form.nom,{ 'attr': {'class': "input-form",
                                'placeholder': 'Name'} }) }}
                        </div>
                        <div class="form-field margin-top-30">
                            {{ form_widget(form.activite,{ 'attr': {'class': "input-form",
                                'placeholder': 'Activity'} }) }}
                        </div>

                        <div class="form-field margin-top-30">
                            {{ form_widget(form.localisation,{'attr':{'class':"input-form",
                                'placeholder':'Localisation'}}) }}
                        </div>

                        <div class="form-field margin-top-30">
                            {{ form_widget(form.tel,{'attr':{'class':'input-form',
                                'placeholder':'Phone'}})}}
                        </div>
                        <div class="form-field margin-top-30">
                            {{ form_widget(form.mail,{'attr':{'class':'input-form',
                                'placeholder':'Mail'}})}}
                        </div>
                        <div class="form-field margin-top-30">
                            {{ form_widget(form.responsable,{'attr':{'class':'input-form',
                                'placeholder':'Responsable'}})}}
                        </div>


                    </div>
                </div>

                <div class="col-lg-8 offset-lg-2 d-flex justify-content-center">

                </div>
                <div class="col-lg-8 offset-lg-2 margin-top-50">
                    <div class="controler-wrapper">
                        <div class="btn-wrapper desktop-left padding-bottom-10">
                            {{ form_widget(form.publier,{'attr':{'class':'button-explore'}})}}
                        </div>
                        <div class="progressbar">
                            <span class="home-slider-progress"></span>
                            <span class="home-slider-progress-active"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
